.rightJustify {
    text-align: right;
}

.clsGridLedgerAccounts {
    height: 500px;
    width: 100%;
}

.clsEntities {
    height: 300px;
    width: 250px;
}

.clsGridTransactions {
    height: 500px;
    width: 100%;
}

.clsTimesheets {
    height: 500px;
    width: 100%;
}

.clsInvoices {
    height: 500px;
    width: 100%;
}


.solsof-btn, .btn {
    border-radius: 0;
}

label {
}


/* The Modal (background) */
.modalSolsof {
    /*visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;*/
    
    display:none;

    position: fixed;    /*Stay in place*/ 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-height: 100vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.05); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contentSolsof {
    background-color: white;
    margin: 200px auto 0 auto;
    padding: 20px;
    border: 1px solid darkgrey;
    width: 30%; 
    min-width: 300px;
    box-shadow: 0 0 2px darkgrey;
}
