.rightJustify {
    text-align: right;
}

.clsGridLedgerAccounts {
    height: 500px;
    width: 100%;
}

.clsEntities {
    height: 300px;
    width: 250px;
}

.clsGridTransactions {
    height: 500px;
    width: 100%;
}

.clsTimesheets {
    height: 500px;
    width: 100%;
}

.clsInvoices {
    height: 500px;
    width: 100%;
}


.solsof-btn, .btn {
    color: yellow;
    border-radius: 0;
}

label {
    color: red;
}

