
body {
    background-color: #4A5157;
}

.white-background {
    background-color: white;
    height: 100vh;
}

.menu-button {
    min-width: 100px;
}

.sidebar-menu-button, .menu-button {
    background-color: #286060;
    height: 40px;
    color: #f6d3af;
    border: none;
    box-shadow: 0 0 2px black;
}

    .sidebar-menu-button:hover, .menu-button:hover {
        background-color: #b0c6d0;
        color: #5e3b02;
        border: none;
    }

.sidebar-menu-button {
    height: 40px;
    width: 100%;
    color: #f0e1d2;
    background-color: #4b8d8d;
    margin: 5px 0;
}

.okButton {
    font-size: xx-large;
    height: 60px;
    border: 2px solid;
    border-color: lightgray;
}

.ag-fresh .ag-row-selected {
    background-color: #b0c6d0 !important;
}


.solsof-checkbox {
width: 50px!important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #33a6cc;
    }

    .btn-primary:active, .btn-primary.active {
        background: #007299;
        box-shadow: none;
    }



.ng-valid[required] {
    border-left: 5px solid #a8d06f; /* green */
}

.ng-invalid {
    border-left: 5px solid #f4285e; /* red */
}















.rightJustify {
    text-align: right;
}

.clsGridLedgerAccounts {
    height: 500px;
    width: 100%;
}

.clsEntities {
    height: 300px;
    width: 250px;
}

.clsGridTransactions {
    height: 500px;
    width: 100%;
}

.clsTimesheets {
    height: 500px;
    width: 100%;
}

.clsTimesheetLine {
    height: 180px;
    width: 100%;
}

.clsInvoiceLine {
    height: 180px;
    width: 100%;
}

.clsTransactionLine {
    height: 180px;
    width: 100%;
}

.clsInvoices {
    height: 500px;
    width: 100%;
}


.buttonGroup {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.separatedButton {
    margin: 10px 0 10px 0;
    width: 100%;
    font-family: inherit;
}

    .separatedButton:hover {
    }

.deleteButton {
    color: #FEA300;
}

.solsof-btn, .btn {
    border-radius: 0;
}

.inheritFont {
    font-family: inherit;
}

label {
}

.modalSolsofVisible {
    display: block;
}

/* The Modal (background) */
.modalSolsof {
    /*opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;*/
    display: none;
    position: fixed; /*Stay in place*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-height: 100vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalSolsof100 {
    z-index: 100;
}

.modalSolsof200 {
    z-index: 200;
}

.modalSolsof1000 {
    z-index: 1000;
}

.modalSolsof-wide {
    width: 60%;
}

.modalSolsof-very-narrow {
    width: 20%;
}

.modalSolsof-narrow {
    width: 40%;
}

/* Modal Content/Box */
.modal-contentSolsof {
    background-color: white;
    margin: 100px auto 0 auto;
    padding: 20px;
    border: 1px solid darkgrey;
    min-width: 300px;
    box-shadow: 0 0 50px black;
    overflow: auto;
    max-height: 100vh;
}


/*.navbar-simple .brand {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-simple .navbar-inner {
    background: #fff;
    filter: none !important;
    box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

    .navbar-simple .navbar-inner .nav {
        float: right;
    }

        .navbar-simple .navbar-inner .nav li a {
            background: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: #777;
            font-size: 13px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 600;
        }

            .navbar-simple .navbar-inner .nav li a:hover {
                background: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                color: #bf3604;
            }

        .navbar-simple .navbar-inner .nav li.active a {
            color: #bf3604;
        }*/

