<div class="modalSolsof modalSolsof200" [class.modalSolsofVisible]="transactionLineVisible" (keyup.esc)="cancelTransactionLine()">
    <!-- Modal content -->
    <div class="modal-contentSolsof modalSolsof-wide" (keyup.esc)="modalOnKeyup()">
        <!--contents-->
        <form novalidate name="formTransaction" class="form-horizontal" (keyup.esc)="modalOnKeyup()">
            <h1> {{titleTransactionLine}}</h1>
            <br />
            <!--master inputs-->
            <div class="form-group">
                <div class="col-md-2">
                    <div class="buttonGroup">
                        <button class="sidebar-menu-button okButton" (click)="saveTransactionLine()"> OK</button>
                        <button class="sidebar-menu-button" (click)="cancelTransactionLine()"> Cancel</button>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="cmbLedgerAccounts">Ledger Account</label>
                        <select class="form-control" required #cmbLedgerAccounts ngControl="ngcLedgerAccounts" [(ngModel)]="sLedgerAccountID">
                            <option *ngFor="#ledgerAccount of ledgerAccounts" [value]="ledgerAccount.ledgerAccountID">
                                {{ ledgerAccount.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputAmount">Amount</label>
                        <input type="number" [(ngModel)]="amount" class="form-control" #inputAmount="ngForm" placeholder="Amount" ngControl="ngcAmount">
                    </div>
                    <div class="form-group">
                        <label for="inputDebit">Debit</label>
                        <input type="checkbox" [(ngModel)]="debit" #inputDebit="ngForm" class="form-control solsof-checkbox" ngControl="ngcDebit" [disabled]="debitCreditDisabled">
                        <!--<input type="checkbox" [(ngModel)]="debit" class="form-control checkbox" #inputDebit="ngForm" ngControl="ngcDebit">-->
                    </div>
                    <div class="form-group">
                        <label for="inputComment">Comment</label>
                        <input type="text" [(ngModel)]="comment" class="form-control" #inputComment="ngForm" placeholder="Comment" ngControl="ngcComment">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
