<h1>Login</h1>
<form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="inpUsername">User name</label>
            <input type="text" class="form-control" required [(ngModel)]="username" ngControl="ngcUsername" #inpUsername="ngForm">
            <div [hidden]="inpUsername.valid || inpUsername.pristine" class="alert alert-danger">User name is required</div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="inpPassword">Password</label>
            <input type="password" class="form-control" required [(ngModel)]="password" ngControl="ngcPassword" #inpPassword="ngForm">
            <div [hidden]="inpPassword.valid || inpPassword.pristine" class="alert alert-danger">Password is required</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">
        Login
    </button>

</form>
