<div class="modalSolsof modalSolsof100" [class.modalSolsofVisible]="transactionVisible" (keyup.esc)="cancelTransaction()">
    <!-- Modal content -->
    <div class="modal-contentSolsof modalSolsof-wide container-fluid" (keyup.esc)="cancelTransaction()">
        <!--contents-->
        <form (ngSubmit)="okClicked()" #transactionForm="ngForm">
            <h1>{{titleTransaction}}</h1>
            <br />
            <!--buttons-->
            <div class="col-md-2">
                <div class="buttonGroup">
                    <button type="button" class="sidebar-menu-button" (click)="newTransactionLine()"> New Line</button>
                    <button type="button" class="sidebar-menu-button deleteButton" (click)="deleteTransactionLine()" [class.button-disabled]="selectedTransactionLineIndex === -1" [disabled]="selectedTransactionLineIndex === -1"> Delete Line</button>
                    <button type="submit" class="sidebar-menu-button okButton"> OK</button>
                    <button type="button" class="sidebar-menu-button" (click)="cancelTransaction()"> Cancel</button>
                </div>
            </div>
            <!--inputs-->
            <div class="col-md-10">
                <div class="form-group" >
                    <label for="cmbBankAccounts" [hidden]="bankAccountDisabled">Bank Account</label>
                    <select [required]="!bankAccountDisabled" [hidden]="bankAccountDisabled" [disabled]="bankAccountDisabled" class="form-control" #cmbBankAccounts ngControl="ngcBankAccounts" [(ngModel)]="transaction.bankAccountID">
                        <option *ngFor="#bankAccount of bankAccounts" [value]="bankAccount.bankAccountID">
                            {{ bankAccount.name }}
                        </option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="inputTransactionDate">Transaction Date</label>
                    <input type="date" [(ngModel)]="transaction.sTransactionDate" class="form-control" #inputTransactionDate="ngForm" required ngControl="ngcTransactionDate">
                    <div [hidden]="inputTransactionDate.valid || inputTransactionDate.pristine" class="alert alert-danger">Week Ending is required</div>
                </div>
                <div class="form-group">
                    <label for="inputComment">Comment</label>
                    <input type="text" [(ngModel)]="transaction.comment" class="form-control" #inputComment="ngForm" placeholder="Comment" ngControl="ngcComment">
                </div>
                <!--detail grid-->
                <div class="form-group">
                    <ag-grid-ng2 class="ag-fresh clsTransactionLine form-control" [gridOptions]="gridOptions"></ag-grid-ng2>
                </div>

                <div class="form-group">
                    <label for="inputTotal">Total</label>
                    <input type="text" [(ngModel)]="transactionTotal" class="form-control" disabled="disabled" #inputTotal="ngForm">
                </div>
                <div [hidden]="getTransactionSuccess" class="alert alert-danger">Error getting Transaction</div>
            </div>
        </form>
    </div>
</div>

<transaction-line (saver)="saveTransactionLine($event);"></transaction-line>
