<h1>{{transactionsTitle}}</h1>

<div class="col-md-2">
    <label>
        <input [ngModel]="listDateDescending" #chkListDateDescending type="checkbox" (change)="chkListDateDescendingClicked(chkListDateDescending)"> <big>List Date Descending</big>
    </label>
    <div class="buttonGroup">
        <button class="sidebar-menu-button" (click)="addCheque()">Add Cheque</button>
        <button class="sidebar-menu-button" (click)="addDeposit()">Add Deposit</button>
        <button class="sidebar-menu-button" (click)="addGeneralJournal()">Add General Journal</button>
        <button class="sidebar-menu-button" (click)="copyTransaction()">Copy</button>
        <button class="sidebar-menu-button deleteButton" (click)="deleteTransaction()">Delete</button>
    </div>
</div>

<div class="col-md-10">
    <ag-grid-ng2 class="ag-fresh clsGridTransactions" [gridOptions]="gridOptions"></ag-grid-ng2>
    <div [hidden]="!getTransactionsError" class="alert alert-danger">Error getting Transactions</div>
    <div [hidden]="!getDebtorsError" class="alert alert-danger">Error getting Debtors</div>
</div>


<transactionModal (ok)="loadTransactions()"></transactionModal>

<dialog-box></dialog-box>
