<h1>Change Password</h1>
<form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">

    <div class="form-group row">
        <div class="col-sm-5">
            <label for="inpOldPassword">Old Password</label>
            <input type="password" class="form-control" required [(ngModel)]="oldPassword" ngControl="ngcOldPassword" #inpOldPassword="ngForm">
            <div [hidden]="inpOldPassword.valid || inpOldPassword.pristine" class="alert alert-danger">Old Password is required</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-5">
            <label for="inpNewPassword">New Password</label>
            <input type="password" class="form-control" required [(ngModel)]="newPassword" ngControl="ngcNewPassword" #inpNewPassword="ngForm">
            <div [hidden]="inpNewPassword.valid || inpNewPassword.pristine" class="alert alert-danger">
                New Password is required
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-5">
            <label for="inpRepeatNewPassword">Repeat new Password</label>
            <input type="password" class="form-control" required [(ngModel)]="repeatNewPassword" ngControl="ngcRepeatNewPassword" #inpRepeatNewPassword="ngForm">
            <div [hidden]="passwordsEqual()" class="alert alert-danger">
                Repeat new Password is not the same as New Password
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"
            [disabled]="!changePasswordForm.form.valid">
        Submit
    </button>
    <div [hidden]="getChangePasswordSuccess" class="alert alert-danger">Error changing password</div>
</form>
