<div class="modalSolsof modalSolsof200" [class.modalSolsofVisible]="timesheetLineVisible" (keyup.esc)="cancelTimesheetLine()">
    <!-- Modal content -->
    <div class="modal-contentSolsof modalSolsof-narrow" (keyup.esc)="modalOnKeyup()">
        <!--contents-->
        <form novalidate name="formTimesheet" class="form-horizontal" (keyup.esc)="modalOnKeyup()">
            <h1> {{titleTimesheetLine}}</h1>
            <br />
            <!--master inputs-->
            <div class="form-group">
                <div class="col-md-2">
                    <div class="btn-group-vertical">
                        <button class="btn btn-primary glyphicon inheritFont" (click)="saveTimeSheetLine()"> OK</button>
                        <button class="btn btn-primary glyphicon inheritFont" (click)="cancelTimeSheetLine()"> Cancel</button>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Date</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control" [(ngModel)]="timesheetLineDate" required autofocus />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Start</label>
                        <div class="col-md-1">
                            <input id="inpStartHours" type="number" [(ngModel)]="startHours" placeholder="Hours" ng-change="startHoursChange()" />
                        </div>
                        <div class="col-md-1">
                            <input id="inpStartMinutes" type="number" [(ngModel)]="startMinutes" placeholder="Minutes" ng-change="startMinutesChange()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Finish</label>
                        <div class="col-md-1">
                            <input id="inpFinishHours" type="number" [(ngModel)]="finishHours" placeholder="Hours" ng-change="finishHoursChange()" />
                        </div>
                        <div class="col-md-1">
                            <input id="inpFinishMinutes" type="number" [(ngModel)]="finishMinutes" placeholder="Minutes" ng-change="finishMinutesChange()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Time out</label>
                        <div class="col-md-1">
                            <input id="inpTimeoutHours" type="number" [(ngModel)]="timeoutHours" placeholder="Hours" ng-change="timeoutHoursChange()" />
                        </div>
                        <div class="col-md-1">
                            <input id="inpTimeoutMinutes" type="number" [(ngModel)]="timeoutMinutes" placeholder="Minutes" ng-change="timeoutMinutesChange()" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
