<div class="modalSolsof modalSolsof1000" [class.modalSolsofVisible]="dialogBoxVisible" (keyup.esc)="cancel()">
    <!-- Modal content -->
    <div class="modal-contentSolsof modalSolsof-very-narrow " (keyup.esc)="cancel()">
        <!--contents-->
        <div class="form-group row">
            <div class="col-md-4">
                <div class="buttonGroup">
                    <button class="sidebar-menu-button okButton" (click)="ok()"> {{okLabel}}</button>
                    <button class="sidebar-menu-button" [class.modalCancelHidden]="!cancelVisible" (click)="cancel()" > {{cancelLabel}}</button>
                </div>
            </div>
            <h3 class="col-md-8">
                {{message}}
            </h3>
        </div>
    </div>
</div>
